-
	var globals = {
		footer: {
			question: 'Have a question?',
			answer: 'write to us',
			questionButton: 'write'
		},
		header: {
			title: 'Контакти',
			address: 'Київ',
			logo: '/assets/i/logo.png',
			user: {
				name: "Василь",
				pic: '/assets/i/user-pic.png'
			}
		},
		menu: [{
			title: 'Головна',
			url: '/'
		},{
			title: 'Про проект',
			url: '/'
		},{
			title: 'Статті',
			url: '/'
		},{
			title: 'Контакти',
			url: '/'
		}],
	}